py_clob_client
py_order_utils

supabase
gotrue

openai
httpx

eth-utils
eth-account
eth-keys

matplotlib

aiohttp
requests
python-dotenvcryptography

sentence-transformers
pinecone
instructor

redis
dotenv

web3